<table>
    <tr><a></a>
        <td> <a href="https://Natalie-Beckwith.github.io/NatalieBeckwith/">Home</a> </td>
        <td><a href="https://Natalie-Beckwith.github.io/NatalieBeckwith/pages/TPT">TPT</a></td>
        <td><a href="https://Natalie-Beckwith.github.io/NatalieBeckwith/pages/DSproject">Data Structures Project</a></td>
        <td><a href="https://Natalie-Beckwith.github.io/NatalieBeckwith/pages/review">Review Ticket</a></td>
        <td><a href="https://Natalie-Beckwith.github.io/NatalieBeckwith/pages/createTask">Create Task</a></td>
        <td><a href="https://Natalie-Beckwith.github.io/NatalieBeckwith/pages/APstudyPlan">Study Plan</a></td>
    </tr>
</table>
